<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.forge.appliance">
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_forge"
        android:label="Forge"
        android:theme="@style/ForgeTheme">
        <activity
            android:name=".ForgeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
